*{
    margin:0px;
    padding:0px;
}

/* Navbar area css */
body{
    background-color:rgb(15, 14, 14);
    color:white;
}

header{
    background-color:rgb(48, 43, 43)
}

.header{
    padding:30px 150px 20px 150px;
    
}

nav{
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
}

.list{
    display:flex;
    justify-content:right;
    align-items:center;
}

li{
    margin-right:20px;
    list-style-type: none;
}

li:nth-child(odd){
    margin-right:50px;
}

li:nth-child(2){
    margin-right:50px;
}


/* Avatar to Button Area  */
.Avatar-area{
    padding:0px 150px 0px 150px;
}

/* Tech Stack Area  */
.tech-stack-area{
    padding:0px 150px 0px 150px;
}


/* Project Area  */
.project-area{
    padding:0px, 150px, 0px, 150px;
}


/* Footer Area  */
.footer{
    padding:0px 150px 0px 150px;
}